<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link href='http://corylee.io/feed.xml' rel='alternate' type='application/atom+xml'></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/random_post.js"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    {% include lg_nav.html %}
    {% include mobile_nav.html %}
  </head>
  <body>
  <div class="container-fluid">
    