



<!-- <div class="row">
	<div class="mobileNav dropdown hidden-lg visible-xs-* hidden-sm hidden-md hidden-lg">
 		 <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html"><i class="hamburger fa fa-bars sz-x2"></i></a>
 		<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">

    		{% for node in site.pages %}
    			{% unless node.exclude_sidebar == true %}
    			  {% if page.url == node.url %}
    				<li><a tabindex="-1" href="{{node.url}}">{{node.title}}</a></li>
    			  {% else %}
    				<li><a tabindex="-1" href="{{node.url}}">{{node.title}}</a></li>
    			  {% endif %}
    		{% endunless %}
    		{% endfor %}
  		</ul>
	</div>
</div> -->
<!-- 	<div class="hidden-lg visible-xs-* hidden-sm hidden-md hidden-lg">
		<div class="mobileNav">
			<button data-toggle="dropdown"><i class="hamburger fa fa-bars sz-x2"></i></button>
		</div>
	</div>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	  

	</ul> -->
