<div class="social">
	<div class="social-wrap">
		<a class="icon" href='http://corylee.io/feed.xml' type='application/rss+xml' target="_blank"><i class="fa fa-rss fa-lg"></i></a>
		<a class="icon" href="https://twitter.com/intent/follow?screen_name=coryleeio"><i class="fa fa-twitter fa-lg"></i></a>
		<a class="icon" href="https://github.com/coryleeio" target="_blank"><i class="fa fa-github fa-lg"></i></a>
		<a class="icon" href="http://www.linkedin.com/in/coryleeio" target="_blank"><i class="fa fa-linkedin"></i></a>
	</div>
</div>