body {
	min-height: 100vh;
	position: relative;
	font: 100% $font-stack;
	font-size: 17px;
	line-height: 20px;
	background: $text-background-color;
}

.pretty-link {
	color: $primary-color;
}

.archive-line-item {
	margin-bottom:10px;
}

.main-margin {
	padding: 10px 80px;
}

.mobile-pad {
	margin-top: 40px;
}

.fa {
	color: $light-text-color;
}

.faded {
	color: #666;
	font-style: italic;
	margin-left: 12px;
	padding: 4px;
	font-size: 14px;
}

.fa-high {
	position: relative;
	top: 3px;
}