.backgroundLight {
	background: $light-background-color;
}

.backgroundDark {
	background: $dark-background-color;
}

.accentColor {
	background: $accent-color;
}

.accentText {
	color: $accent-color;
}

.textLight {
	color: $light-text-color;
}

.textDark {
	color: $dark-text-color;
}