.primary-header {
	color: $light-text-color;
	margin-top: 0px;
	padding: 25px 20px 0px 20px;
}

.sign-off {
	color: $light-text-color;
	margin-left: 45px;
	padding-bottom: 20px;
}

.header-lg {
	background: $primary-color;
	height:115px;
}

.main-header-wrap {
	display:inline-block;
	min-width:35%;
}