.mobile-nav {
	background:$accent-color;
	z-index: 2;
	position: fixed;
	width: 100%;
}

#mobile-collapse.navbar-collapse {
	background-color: $accent-color;
	li {
		&:hover {
			background: darken($accent-color, $change-percent);
		}
		&.active {
			a {
				background: darken($accent-color, $change-percent);
			}
		}
		a {
			color:white;
		}
	}
}

.navbar-header {
	.navbar-toggle {
		border-color: $light-text-color;
		background-color: darken($accent-color, $change-percent);
		&.collapsed {
			background-color: $accent-color;
		}
		.icon-bar {
			background-color: $light-text-color;
		}

		&:hover {
			background-color: darken($accent-color, $change-percent);
		}

		&[aria-expanded="true"] {
			background-color: darken($accent-color, $change-percent);
		}
	}

	.navbar-brand{
		color:$light-text-color;
	}

	background:$accent-color;
}