$font-stack: Helvetica, sans-serif;

$primary-color:#379093;
$secondary-color:#5BB1B4;
$accent-color:#F37E78;
$secondary-accent-color:#7CB0C3;



$text-background-color:#FCFCFC;
$light-text-color:#FFFFFF;
$change-percent:10%;